<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Hack the Blog</a>
    <a class="btn btn-primary" href="/admin" role="button">Admin</a>
  </div>
</nav>
