<nav class="navbar bg-dark navbar-expand">
    <div class="container">
      <a class="navbar-brand text-white">Hack the Blog</a>
      <a class="btn btn-primary" href="/admin" role="button">Admin</a>
    </div>
  </nav>