<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"><strong>Hack the Blog</strong></a>

    <!-- ====== mensaje BIENVENIDA a usuario ===== -->
    <% if (login) { %>

    <div class="d-flex flex-column align-items-center">
      <p class="align-self-center pt-2" style="color: aliceblue">
        <%= `Bienvenido/a ${user.firstname}` %>
      </p>
    </div>
    <div>
      <a class="btn btn-outline-light" href="/adminArticles" role="button">Admin</a>
      <a class="btn btn-outline-info" href="/logout">Desloguearse</a>
    </div>
    <% } else {%>
    <div>
      <a class="btn btn-primary" href="/login">Iniciar sesión</a>
      <a class="btn btn-outline-primary" href="/registerUser">Registrarse</a>
    </div>
    <% } %>
    <!-- ====== mensaje BIENVENIDA a usuario ===== -->
  </div>
</nav>
