<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Hack the Blog</a>
      <a class="nav-link active" aria-current="page" href="#">Admin</a>
    </div>
  </nav>